doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')

    script(src='/js/jquery-3.3.1.slim.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    script(src='/js/bundle/main.js')

  body
    block content
